<div class='container login'>
  <h1>Quote</h1>
  <p>Enter the stock symbol of the stock you're interested in.</p>
  <%= render 'quotes/form' %>
  <hr>
  <%= link_to 'Back to portfolio', stocks_path %>
</div>