* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $white;
  text-decoration: none;
  font: 1rem $text;
  list-style: none;
}

h1 {
  font: 900 3rem $heading;
}

h2 {
  font: 900 2rem $text;
}

h4 {
  font: bold 1.5rem $text;
  color: grey;
}

h5 {
  font: bold 1.5rem $text;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: $black;
}

header {
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vmin;
}

main {
  display: flex;
  flex-direction: column;
  height: 85%;
}

input:focus {
  outline: none;
}

input {
  background-color: transparent;
  border: none;
}

input::placeholder {
  text-align: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
  -moz-appearance: textfield;
}