<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Welcome, <%= @user.email %>!</h2>
    <p>
      You're in! We're writing to let you know that
      <strong>The Dev Team</strong> reviewed and approved your account! Thank
      you for your patience during this process.
    </p>
    <h3>The Dev Team</h3>
  </body>
</html>
