<div class='page-container' id='transactions'>
  <div class='left-pane'>
    <h4>Open Orders</h4>
    <ul class='list-container'>
      <li>
      <div class='row-between'>
        <p>MSFT</p>
        <button class=btn-link>Cancel Order</button>
      </div>
        <div class='row-between'>
          <div class='col'>
            <p>10 MSFT</p>
            <p class='txt-s'>Quantity</p>
          </div>
          <div class='col'>
            <p><span class=txt-s>$</span>125.00</p>
            <p class='txt-s'>Price Per Share</p>
          </div>
        </div>
      </li>
      <li>
      <div class='row-between'>
        <p>MSFT</p>
        <button class=btn-link>Cancel Order</button>
      </div>
        <div class='row-between'>
          <div class='col'>
            <p>10 MSFT</p>
            <p class='txt-s'>Quantity</p>
          </div>
          <div class='col'>
            <p><span class=txt-s>$</span>125.00</p>
            <p class='txt-s'>Price Per Share</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class='right-pane'>
    <h4>Trade History</h4>
    <ul class='list-container'>
      <li class='card'>
        <div class='row-between'>
          <div class='row'>
            <p>MSFT</p>
            <p>Sell</p>
          </div>
          <p class='txt-s'>10-13-2022 10:00</p>
        </div>
        <div class='row-around'>
          <div class='col'>
            <p>10 MSFT</p>
            <p class='txt-s'>Quantity</p>
          </div>
          <div class='col'>
            <p><span class=txt-s>$</span>125.00</p>
            <p class='txt-s'>Price Per Share</p>
          </div>
        </div>
        <div class="row-between">
          <p>Total Price</p>
          <p><span class=txt-s>$</span>1250.00</p>
        </div>
      </li>

      <li class='card'>
        <div class='row-between'>
          <div class='row'>
            <p>MSFT</p>
            <p>Sell</p>
          </div>
          <p class='txt-s'>10-13-2022 10:00</p>
        </div>
        <div class='row-around'>
          <div class='col'>
            <p>10 MSFT</p>
            <p class='txt-s'>Quantity</p>
          </div>
          <div class='col'>
            <p><span class=txt-s>$</span>125.00</p>
            <p class='txt-s'>Price Per Share</p>
          </div>
        </div>
        <div class="row-between">
          <p>Total Price</p>
          <p><span class=txt-s>$</span>1250.00</p>
        </div>
      </li>
      <li class='card'>
        <div class='row-between'>
          <div class='row'>
            <p>MSFT</p>
            <p>Sell</p>
          </div>
          <p class='txt-s'>10-13-2022 10:00</p>
        </div>
        <div class='row-around'>
          <div class='col'>
            <p>10 MSFT</p>
            <p class='txt-s'>Quantity</p>
          </div>
          <div class='col'>
            <p><span class=txt-s>$</span>125.00</p>
            <p class='txt-s'>Price Per Share</p>
          </div>
        </div>
        <div class="row-between">
          <p>Total Price</p>
          <p><span class=txt-s>$</span>1250.00</p>
        </div>
      </li>
      <li class='card'>
      <div class='row-between'>
        <div class='row'>
          <p>MSFT</p>
          <p>Sell</p>
        </div>
        <p class='txt-s'>10-13-2022 10:00</p>
      </div>
      <div class='row-around'>
        <div class='col'>
          <p>10 MSFT</p>
          <p class='txt-s'>Quantity</p>
        </div>
        <div class='col'>
          <p><span class=txt-s>$</span>125.00</p>
          <p class='txt-s'>Price Per Share</p>
        </div>
      </div>
      <div class="row-between">
        <p>Total Price</p>
        <p><span class=txt-s>$</span>1250.00</p>
      </div>
    </li>
    <li class='card'>
    <div class='row-between'>
      <div class='row'>
        <p>MSFT</p>
        <p>Sell</p>
      </div>
      <p class='txt-s'>10-13-2022 10:00</p>
    </div>
    <div class='row-around'>
      <div class='col'>
        <p>10 MSFT</p>
        <p class='txt-s'>Quantity</p>
      </div>
      <div class='col'>
        <p><span class=txt-s>$</span>125.00</p>
        <p class='txt-s'>Price Per Share</p>
      </div>
    </div>
    <div class="row-between">
      <p>Total Price</p>
      <p><span class=txt-s>$</span>1250.00</p>
    </div>
  </li>
  <li class='card'>
  <div class='row-between'>
    <div class='row'>
      <p>MSFT</p>
      <p>Sell</p>
    </div>
    <p class='txt-s'>10-13-2022 10:00</p>
  </div>
  <div class='row-around'>
    <div class='col'>
      <p>10 MSFT</p>
      <p class='txt-s'>Quantity</p>
    </div>
    <div class='col'>
      <p><span class=txt-s>$</span>125.00</p>
      <p class='txt-s'>Price Per Share</p>
    </div>
  </div>
  <div class="row-between">
    <p>Total Price</p>
    <p><span class=txt-s>$</span>1250.00</p>
  </div>
</li>
<li class='card'>
<div class='row-between'>
  <div class='row'>
    <p>MSFT</p>
    <p>Sell</p>
  </div>
  <p class='txt-s'>10-13-2022 10:00</p>
</div>
<div class='row-around'>
  <div class='col'>
    <p>10 MSFT</p>
    <p class='txt-s'>Quantity</p>
  </div>
  <div class='col'>
    <p><span class=txt-s>$</span>125.00</p>
    <p class='txt-s'>Price Per Share</p>
  </div>
</div>
<div class="row-between">
  <p>Total Price</p>
  <p><span class=txt-s>$</span>1250.00</p>
</div>
</li>
      
    </ul>
  </div>
</div>
