#transactions {
  .right-pane {
    padding: 5vmin;

    .list-container {
      margin-top: 0;
      padding: 5vmin 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px;

      .card {
       width:100%;
       margin: 0;
       
        
        div:last-child {
          padding-top: 10px;
        }
      }
    }
  }

  .list-container {
    margin-top: 30px;
    height: 90%;

    li:last-child {
      border-bottom: 1px solid $grey;
    }

    .row-between:first-child {
      margin-bottom: 10px;

      p:first-child {
        font-weight: bold;
      }
    }
  }
}

.info-pill {
  background-color: $purple;
  padding: 3px 10px;
  border-radius: 50px;
  font-size: 12px;
  margin-left: 10px;
}