.devise-container {
  background-image: url(bg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  ul {
    display: flex;
    flex-direction: column;
  }
}

.form-container {
  width: 70vmin;
  background-color: rgba(0, 0, 0, 0.30);
  border-radius: 5px;
  
  

  .simple_form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 30px 30px;

  }

  .form-title {
    background-color: $purple;
    padding: 10px 20px;
    border-radius: 5px 5px 0 0;
  }

  .input {
    display: flex;
    flex-direction: column;
    width: 80%;
    
    input {
      border-bottom: 1px solid white;
      margin-top: 10px;
    }

    label {
      margin-top: 30px;
    }
  }

  .form-actions {
    width: 80%; 
    margin: 30px 0;

    .btn {
      width: 100%;
      border: none;
    }
  }
}

.alert, .notice {
  position: absolute;
  background-color: black;
  top: 3vmin;
  right: 3vmin;
  padding: 10px 20px;
  border-left: 5px solid $purple;
}

.error {
  color: $grey;
  padding-top: 5px;
}







