.devise-container {
  background-image: url(devise-bg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.form-container {
  width: 50vw;

}