
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $white;
  text-decoration: none;
  font: 1rem $text;
  

}

h1 {
  font: 900 3rem $heading;
}

h5 {
  font: bold 1.5rem $text;
}

#hero {
  width: 100vw;
  background-image: url(home-bg.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 3vmin;
  color: $white;
  position: relative;

  header {
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  main {
    display: flex;
    flex-direction: column;
    height: 85%;
    padding: 10% 20%;
    

    h1, h5 {
      text-align: center;
    }

    h1 {
      font-size: 5rem;
    }

    .btn-primary, .btn-secondary {
      font-size: 1.5rem;
      margin: 0;
      padding: 15px 100px;
    }

    .btn-group {
      margin-top: 50px;
      display: flex;
      justify-content: center;
    }

    .social-icons {
      position: absolute;
      bottom: 3vmin;
      left: 3vmin;
      display: flex;
      flex-direction: column;

      .social-icon {
        width: 25px;
        margin-bottom: 20px;
      }
    }
  }
}

.logo {
  width: 20vmin;
}

.btn-outline {
  border: 1px solid $purple;
  color: $purple;
  font-weight: bold;
  padding: 5px 15px;
}

.btn-primary {
  padding: 10px 25px;
  background-color: $purple;
  text-align: center;
}

.btn-secondary {
  padding: 10px 25px;
  background-color: $grey;
}